/* default styles */


@font-face {
  font-family: "Apercu";
  src: url(fonts/ApercuPro-Light.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Apercu";
  src: url(fonts/ApercuPro-Regular.woff) format("woff");

  font-weight: 400;

}

body {
  font-family: "Apercu", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 10px;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 100px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
}

h2 {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.cover {
  height: 100vh;
  width: auto;
  padding: 40px;
  background-color: black;
}

.cover-links {
  display: flex;
  justify-content: space-between;
}

.cover-links a {
  font-size: 24px;
  line-height: 1.8;
  color: white;
  text-decoration: none;
}

.cover-links a:hover {
  color: blueviolet
}

.cover-title {
  align-items: baseline;
}

.cover-title h1 {
  display: flex;
}

.cover-logo {
  display: flex;
  height: 70px;
  margin-left: auto;
  /* margin-top: 16px; */
}