/* default styles */

@font-face {
  font-family: "Apercu";
  src: url(fonts/ApercuPro-Light.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Apercu";
  src: url(fonts/ApercuPro-Regular.woff) format("woff");
  font-variant: ;
  font-stretch: ;
  font-weight: 400;
  font-style: ;
}

body {
  font-family: "Apercu", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 10px;
  margin: 0;
}

h1 {
  font-size: 100px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
}

h2 {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

p {
  font-size: 24px;
  color: white;
}

.cover {
  height: 800px;
  width: auto;
  padding: 40px;
  background-color: black;
}

.cover-links {
  display: flex;
  justify-content: space-between;
}